name: "Build FBX2GLTF for Ubuntu."
on: [push, pull_request]
jobs:
  build-win-10:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Install conan
        run: |
          pip install --upgrade conan
        shell: bash

      - name: Setup conan profile
        run: |
          conan profile new default --detect
          conan profile show default
        shell: bash

      - name: Setup filter.lfs.required
        run: |
          git config --global filter.lfs.required false
        shell: bash

      - name: Setup filter.lfs.smudge
        run: |
          git config --global filter.lfs.smudge "git-lfs smudge --skip %f"
        shell: bash

      - name: Setup filter.lfs.process
        run: |
          git config --global filter.lfs.process "git-lfs filter-process --skip"
        shell: bash
        
      - name: Curl sdk
        run: |
          curl -O -L "https://github.com/V-Sekai/FBXSDK-Windows/archive/refs/tags/2020.2.zip"
        shell: cmd
            
      - name: install 7z extract
        run: |
          7z x 2020.2.zip
        shell: cmd

      - name: move
        run: |
          mkdir -p sdk
          mv ./FBXSDK-Windows-2020.2/sdk .
        shell: bash

      - name: Decompress sdk
        run: |
          zstd -d -r --rm ./sdk || true
        shell: bash

      - name: Add conan remote
        run: |
          conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
        shell: cmd

      - name: Conan install
        run: |
          conan install . -i build -s build_type=Release -s compiler="Visual Studio" --build fmt --build libiconv --build=libxml2 --build=zlib --build=bzip
        shell: cmd

      - name: Conan build
        run: |
          conan build -bf build .
        shell: cmd

      - uses: actions/upload-artifact@v2
        with:
          name: FBX2glTF-windows-x64.exe
          path: build/Release/FBX2glTF.exe
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Install conan
        run: |
          pip install --upgrade conan
        shell: bash

      - name: Setup conan profile
        run: |
          conan profile new default --detect
          conan profile show default
        shell: bash

      - name: Setup filter.lfs.required
        run: |
          git config --global filter.lfs.required false
        shell: bash

      - name: Setup filter.lfs.smudge
        run: |
          git config --global filter.lfs.smudge "git-lfs smudge --skip %f"
        shell: bash

      - name: Setup filter.lfs.process
        run: |
          git config --global filter.lfs.process "git-lfs filter-process --skip"
        shell: bash
        
      - name: Curl sdk
        run: |
          curl -O -L "https://github.com/V-Sekai/FBXSDK-Linux/archive/refs/tags/2020.2.zip"
        shell: bash
            
      - name: install 7z extract
        run: |
          7z x 2020.2.zip
        shell: bash

      - name: move
        run: |
          mkdir -p sdk
          mv ./FBXSDK-Linux-2020.2/sdk .
        shell: bash

      - name: Decompress sdk
        run: |
          zstd -d -r --rm ./sdk || true
        shell: bash

      - name: Add conan remote
        run: |
          conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
        shell: bash

      - name: Conan install
        run: |
          conan install . -i build -s build_type=Release --build fmt -s compiler.libcxx=libstdc++11 --build libiconv --build=libxml2 --build=zlib --build=bzip
        shell: bash

      - name: Conan build
        run: |
          conan build -bf build .
        shell: bash

      - uses: actions/upload-artifact@v2
        with:
          name: FBX2glTF-linux
          path: build/FBX2glTF
  build-macos:
    runs-on: 	macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Update python
        uses: actions/setup-python@v1

      - name: Install conan
        run: |
          pip install --upgrade conan
        shell: bash

      - name: Setup conan profile
        run: |
          conan profile new default --detect
          conan profile show default
        shell: bash

      - name: Setup filter.lfs.required
        run: |
          git config --global filter.lfs.required false
        shell: bash

      - name: Setup filter.lfs.smudge
        run: |
          git config --global filter.lfs.smudge "git-lfs smudge --skip %f"
        shell: bash

      - name: Setup filter.lfs.process
        run: |
          git config --global filter.lfs.process "git-lfs filter-process --skip"
        shell: bash
        
      - name: Curl sdk
        run: |
          curl -O -L "https://github.com/V-Sekai/FBXSDK-Darwin/archive/refs/tags/2020.2.zip"
        shell: bash
            
      - name: install 7z extract
        run: |
          7z x 2020.2.zip
        shell: bash

      - name: move
        run: |
          mkdir -p sdk
          mv ./FBXSDK-Darwin-2020.2/sdk .
        shell: bash

      - name: Decompress sdk
        run: |
          zstd -d -r --rm ./sdk || true
        shell: bash

      - name: Add conan remote
        run: |
          conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
        shell: bash

      - name: Conan install
        run: |
          conan install . -i build -s build_type=Release --build fmt --build libiconv --build=libxml2 --build=zlib --build=bzip
        shell: bash

      - name: Conan build
        run: |
          conan build -bf build .
        shell: bash

      - uses: actions/upload-artifact@v2
        with:
          name: FBX2glTF-Darwin
          path: build/FBX2glTF
